.regButton {
	-fx-font-size: 13px;
	-fx-fill: #303030;
	-fx-font-weight: bold;
}

.regLabel {
	-fx-font-size: 13px;
	-fx-fill: #303030;
	-fx-font-weight: bold;
}

.menubar {
	-fx-background-color:
		linear-gradient(#d8d6d6 0%, #8e8e8e 100%);
	-fx-pref-width: 600;
	-fx-pref-height: 45;
	-fx-alignment: CENTER-LEFT;
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-padding: 0 0 0 0;
}

.frame {
	-fx-background-color:
		linear-gradient(#95a5bf 0%, #dbecff 100%);
	-fx-border-color: black;
	-fx-border-width: 1;
}

.frame2 {
	-fx-background-color:
		linear-gradient(#eaf4ff 0%, #affff5 100%);
	-fx-border-color: black;
	-fx-border-width: 1;
}

/* ************* */
/* Calendar-only */
/* ************* */

.calendarButton {
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-pref-width: 96;
	-fx-pref-height: 64;
	-fx-max-height: 300;
	-fx-max-width: 600;
}

.calendarToday {
	-fx-border-color: #FF0000;
	-fx-border-width: 3;
}

.calendarSunday {
	-fx-border-color: #ffafb7;
	-fx-border-width: 1;
}

.calendarRegular {
	-fx-base: #affff5;
}

.calendarHappened {
	-fx-base: #bababa;
}

.calendarReserved {
	-fx-base: #f6ff9e;
}

.calendar_dayBar {
	-fx-background-color:
		linear-gradient(#e1d7e8 0%, #877c8e 100%);
	-fx-alignment: CENTER;
	-fx-border-color: #7c41a3;
	-fx-border-width: 1;
}

.calendarLabel {
	-fx-font-size: 18px;
	-fx-fill: #303030;
	-fx-font-weight: bold;
}

/* ************ */


/* ************ */
/* Dialogs-only */
/* ************ */
.menubar_dialog {
	-fx-background-color:
		linear-gradient(#d8d6d6 0%, #8e8e8e 100%);
	-fx-alignment: CENTER-LEFT;
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-padding: 0 0 0 0;
}

.dialogMain {
	-fx-background-image: url("../../img/background_gradient.png");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
	-fx-background-size: stretch;
}

.titleBar {
	-fx-background-color:
		linear-gradient(#7a9dd6 0%, #5f87c6 100%);
	-fx-pref-width: 600;
	-fx-pref-height: 45;
	-fx-alignment: CENTER;
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-padding: 0 0 0 0;
}

.property_bg {
	-fx-background-color:
		linear-gradient(#e1d7e8 0%, #877c8e 100%);
	-fx-alignment: CENTER;
	-fx-border-color: #7c41a3;
	-fx-border-width: 1;
	-fx-padding: 3 3 3 3;
}

.field_disabled {
	-fx-text-fill: #828282;
}

#field_disabled {
	-fx-text-fill: #828282;
}

/* ************ */



.centercol {
	-fx-alignment: CENTER;
}

.leftcol {
	-fx-alignment: CENTER-LEFT;
}

.scanNote {
	-fx-font-family: Arial;
	-fx-font-size: 18px;
	-fx-fill: #EEEEEE;
	
}



/* ************ */
/* FXID-only    */
/* ************ */

#FXID_GRIDPANE_SPLASH {
	-fx-background-image: url("../../img/background_gradient.png");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
	-fx-background-size: 600 300;
}

#FXID_BORDERPANE_MAIN {
	-fx-background-image: url("../../img/background_gradient.png");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
	-fx-background-size: stretch;
}

#FXID_MENU_VBOX {
	-fx-background-color:
		linear-gradient(#66a9dd 0%, #5397cc 25%, #3e85bc 75%, #266699 100%);
	-fx-padding: 5, 15, 5, 15;
}

#FXID_MAIN_VIEW {
	-fx-background-color:
		linear-gradient(#7f4e93 0%, #591c72 100%);
}

#FXID_CALENDAR_PANE {
	-fx-background-color:
		linear-gradient(#7f4e93 0%, #591c72 100%);
}

#FXID_VIEW_TITLE {
	-fx-background-color:
		linear-gradient(#d8d6d6 0%, #8e8e8e 100%);
	-fx-pref-width: 600;
	-fx-pref-height: 25;
	-fx-alignment: CENTER;
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-padding: 0 0 0 0;
}



#FXID_VIEW_TITLE_TEXT {
	-fx-font-size: 18px;
	-fx-fill: #303030;
	-fx-font-weight: bold;
	/*-fx-stroke: #7f7f7f;
	-fx-stroke-width: 1;  */
	
}

/* ************ */